
<!-- Page where user can add a picture to a category -->

{{% extends 'PetPhotos/base.html' %}

{% block title_block %}
    Add a Picture
{% endblock %}


{% block body_block %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
        <h1 class="display-3">Add a Picture</h1>
        <p class="lead">Add a new picture to a category</p>
        </div>
    </div>
    <hr>
    <div class="textform">
        <form id="category_form" method="post" action="{% url 'PetPhotos:add_picture' %}"enctype="multipart/form-data" >

            {% csrf_token %}

            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Add Picture" class="btn btn-success"/>
        </form>
    </div>
{% endblock %}
