<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title>
            PetPhotos -
            {% block title_block %}
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
        {% block body_block %}
        {% endblock %}
        </div>
        <div>
            <!--Links to other pages-->
        </div>
		<script src="{% static "js/jquery-3.3.1.min.js" %}" crossorigin="anonymous"></script>
		<script src="{% static "js/petphotos-jquery.js" %}" crossorigin="anonymous"></script>
		<script src="{% static "js/petphotos-ajax.js" %}" crossorigin="anonymous"></script>
    </body>
</html>