
<!-- Page that displays a list of all current categories in alphabetical order -->

{% extends 'PetPhotos/base.html' %}
{% load static %}

{% block title_block %}
    Categories
{% endblock %}

{% block body_block %}
    {% if categories %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">All Categories</h1>
        </div>
    </div>
        <hr>
        <div class="container-fluid">
            <div class= "row">
            {% for c in categories %}
            <div class="col">
                <div class="card border-primary">
                    <div class="card-body">
                      <h5 class="card-title">{{c.name}}</h5>
                      <a href="{% url 'PetPhotos:show_category' c.slug %}" class="btn btn-outline-primary">View</a>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div></div>
    {% else %}
        No category exists.
    {% endif %}
{% endblock %}

