
<!-- Sidebar list of categories -->

<!DOCTYPE html>


<!--Template to create list of catgeories in the datatbase - used in the sidebar-->
    {% if categories %}
        {% for c in categories %}
            {% if c == current_category %}
                <a href="{% url 'PetPhotos:show_category' c.slug %}" class="btn btn-primary btn-block">{{c.name}}</a>
            {% else %}
                <a href="{% url 'PetPhotos:show_category' c.slug %}" class="btn btn-outline-secondary btn-block">{{c.name}}</a>
            {% endif %}
        {% endfor %}
    {% else %}
        <li><strong>No categories to show</strong></li>
    {% endif %}