{% extends 'PetPhotos/base.html' %}
{% load static %}

{% block title_block %}
    Categories
{% endblock %}

{% block body_block %}
    {% if categories %}
         <h1 >Categories:</h1>
         {% for c in categories %}
                <li>
                    <strong>
                        <a href="{% url 'PetPhotos:show_category' c.slug %}">{{ c.name }}</a>
                    </strong>
                </li>
        {% endfor %}
    {% else %}
        No category exists.
    {% endif %}
{% endblock %}


<!--List of all current categories-->