{% extends 'PetPhotos/base.html' %}
{% load static %}
{% load pp_template_tags %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block sidebar_block %}
    {% get_category_list category %}
{% endblock %}

{% block body_block %}
    {% if category %}
        <h1>{{ category.name }}</h1>
        <br>
        <div>
        </div>
        {% if pictures %}
            {% for picture in pictures %}
            <div>
                <a href="{% url 'PetPhotos:view_picture' picture.id %}"><img src="{{ picture.picture.url }}" alt="img"></a>
            </div>
            {% endfor %}
        {% else %}
            <strong>No pictures currently in category.</strong>
        {% endif %}
    {% else %}
        The specified category does not exist.
    {% endif %}
{% endblock %}


