<!DOCTYPE html>
{% extends 'PetPhotos/base.html' %}
{% load static %}

<html>
    {% block title_block %}
    Home
    {% endblock %}

    {% block body_block %}
    <div style="text-align: center;">
    <h1> Welcome to PetPhotos</h1>
    <p>PetPhotos is an app that allows you to upload and share photos of your pets</p>
    <img style="box-sizing: border-box; height: auto; width: auto;"
    src="{% static 'images/petphotos.jpg'%}" alt="An image of several pets including dogs, cats and a rabbit" />
    </div>
    <hr>
    <div style="text-align: center;">
        {% if user.is_authenticated %}
        <strong>Welcome back {{user.name}}<!--VIEW ACCOUNT--></strong>
        {% else %}
        <strong>You're not logged in. <!--SIGN UP--></strong>
        {% endif %}
    </div>
    {% endblock %}
</html>
