
<!-- Login Page -->

{% extends 'PetPhotos/base.html' %}
{% load static %}


{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Login to PetPhotos</h1>
    </div>
</div>
    <hr>
    <div>
    <div>
        <form id="login_form" method="post" action="{% url 'PetPhotos:login' %}">

        {% csrf_token %}

        <div class="textForm">
        <input type="text" placeholder="Username"name="username" value="" size="50" class="form-control"/>
        <br />
        <input type="password" placeholder="Password" name="password" value="" size="50" class="form-control" /> <br />

        <input class="btn btn-success " type="submit" value="Submit" />
    </div>
        </form>
    </div>
</div>
{% endblock %}
