
<!-- Login Page -->

{% extends 'PetPhotos/base.html' %}
{% load static %}


{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<div class="centred">
    <h1>Login to PetPhotos</h1>
    <hr>
    <div>
        <form id="login_form" method="post" action="{% url 'PetPhotos:login' %}">

        {% csrf_token %}

        <input type="text" placeholder="Username"name="username" value="" size="50" class="form-control"/>
        <br />
        <input type="password" placeholder="Password" name="password" value="" size="50" class="form-control" /> <br />

        <input class="btn btn-success " type="submit" value="Submit" />
        </form>
    </div>
</div>
{% endblock %}
