
<!-- When a user searches something in the search bar, this is the resulting page with the list of results -->

{% extends 'PetPhotos/base.html' %}
{% load static %}

{% block title_block %}
    Search
{% endblock %}

{% block body_block %}
    <h1>Search Results</h1>
    <hr>
    <div>
        {% if searched %}
            <h2>You searched for: {{ searched }}</h2>
            {% if categories_sug %}
                <h6>Your search matched these categories:</h6>
                <br>
                <div class="container.fluid">
                <div class="row justify-content-start">
                {% for cat in categories_sug %}
                <div class="col">
                    <a href="{% url 'PetPhotos:show_category' cat.slug %}" class="btn btn-outline-primary btn-block">{{ cat.name }}</a><br>
                </div>
                {% endfor %}
                </div></div>
            {% else %}
                We couldn't find any categories matching your search term!
            {% endif %}
        {% endif %}
    </div>
{% endblock %}


