{% extends 'PetPhotos/base.html' %}
{% load static %}

{% block title_block %}
    {% if user %}
        {{ user.username }}
    {% else %}
        Unknown User
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if user %}
        <h1> User Profile</h1>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Pets:</p>
        {% if pets %}
             {% for p in pets %}
                    <li>
                        <a href="{% url 'PetPhotos:viewpetprofile' p.slug %}">{{ p.name }}</a>
                    </li>
            {% endfor %}
        {% else %}
            This user has no pets.
        {% endif %}
   {% else %}
        This user doesn't exist.
   {% endif %}
{% endblock %}


