
<!-- Profile Page of a particular user -->

{% extends 'PetPhotos/base.html' %}
{% load static %}

{% block title_block %}
    {% if user %}
        {{ user.username }}
    {% else %}
        Unknown User
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if user %}
        <h1> User Profile</h1>
        <div>
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>

            <!--List the user's pets-->

            <p>Pets:</p>
            {% if pets %}
                {% for p in pets %}
                    <li><a href="{% url 'PetPhotos:view_pet_profile' p.slug %}">{{ p.name }}</a></li>
                {% endfor %}
            {% else %}
                This user has no pets.
            {% endif %}
        </div>
    {% else %}
        This user doesn't exist.
    {% endif %}
{% endblock %}