
<!-- Profile Page of a particular user -->

{% extends 'PetPhotos/base.html' %}
{% load static %}

{% block title_block %}
    {% if u %}
        {{ u.username }}
    {% else %}
        Unknown User
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if u %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">User Profile</h1>
        </div>
    </div>
        <hr>
        <div>
            <h4>Username: {{ u.username }}</h4>
            <p>Last Login: {{ u.last_login }}</p>
            <hr>
        </div>

            <!--List the user's pets-->
        <div>
            <h2>Pets:</h2>
            {% if pets %}
                <div class="container.fluid">
                <div class="row justify-content-start">
                {% for p in pets %}
                    <div class="col" style="padding: 10px;">
                    <div class="card" style="width: 18rem;">
                    <img class="card-img-top rounded" src="{{p.picture.url}}" alt="Image of {{p.name}}">
                    <div class="card-body">
                      <h5 class="card-title">{{p.name}}</h5>
                      <a class= "btn btn-outline-primary btn-block" href="{% url 'PetPhotos:view_pet_profile' p.slug %}">View</a>
                    </div> </div></div>
                {% endfor %}
            </div></div>
            {% else %}
                This user has no pets.
            {% endif %}
        </div>
    {% else %}
        This user doesn't exist.
    {% endif %}
{% endblock %}
