{% extends 'PetPhotos/base.html' %}
{% load static %}

{% block title_block %}
    Profiles
{% endblock %}

{% block body_block %}
    {% if profiles %}
         <a >Profiles:</a>
         {% for p in profiles %}
                <li>
                    <strong>
                        <a href="{% url 'PetPhotos:user_profile' p.username %}">{{ p.username }}</a>
                    </strong>
                </li>
        {% endfor %}
    {% else %}
        No user exists.
    {% endif %}
{% endblock %}


