
<!-- Page that displays a list of all current categories in alphabetical order -->

{% extends 'PetPhotos/base.html' %}
{% load static %}

{% block title_block %}
    Profiles
{% endblock %}

{% block body_block %}
    {% if profiles %}
        <h1>Profiles:</h1>
        <hr>
        <div>
            <div class="container.fluid">
                <div class="row justify-content-start">
                {% for p in profiles %}
                    <div class="col" style="padding: 10px;">
                    <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">{{p.username}}</h5>
                    <a class= "btn btn-outline-primary btn-block" href="{% url 'PetPhotos:user_profile' p.username %}">View Pets</a>
                    </div> </div></div>
                {% endfor %}
            </div></div>
        </div>
    {% else %}
        No user exists.
    {% endif %}
{% endblock %}


