{% extends 'PetPhotos/base.html' %}

<html>
    {% block title_block %}
        {% if pet %}
            {{pet.name}}
        {% else %}
            Unknown Pet
        {% endif %}
    {% endblock %}

    {% block body_block %}

        {% if pet %}

            <h1> Pet Profile</h1>
            <p><b>Name:</b> {{ pet.name }}</p>
            <p><b>Owner:</b> {{ pet.owner }}</p>

            <div>
            <img src="{{ pet.picture.url }}" alt="img" class="smallimg"></div>


        {% else %}
            <h1>This pet doesn't exist.</h1>
        {% endif %}

    {% endblock %}
</html>