
<!-- Page that displays an animal of a certain user -->

{% extends 'PetPhotos/base.html' %}

{% block title_block %}
    {% if pet %}
        {{pet.name}}
    {% else %}
        Unknown Pet
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if pet %}
    <h1> Pet Profile</h1>
    <hr>
    <div>
        <h4>Name: {{ pet.name }}</h4>
        <p><b>Owner:</b> <a href="{% url 'PetPhotos:user_profile' pet.owner %}">{{ pet.owner }}</a></p>
        <hr>
        <img src="{{ pet.picture.url }}" alt="img" class="nolink">
    </div>
    {% if user.id == pet.owner.id %}
        <form action="{% url 'PetPhotos:del_pet' pet.slug pet.owner.username %}" method="POST">
            {% csrf_token %}

             <button type="submit" name="delete" own_id ="{{ pet.owner.username }}" pet_id ="{{ pet.slug }}" class="btn btn-outline-dark">Delete</button>

        </form>
    {% endif %}
    {% else %}
        This pet doesn't exist.
    {% endif %}
{% endblock %}
