
<!-- Page that displays a particular picture -->

{% extends 'PetPhotos/base.html' %}

{% block title_block %}
    {% if picture %}
        Picture from category {{ picture.category }}
    {% else %}
        Unknown Picture
    {% endif %}
{% endblock %}

{% block body_block %}

    {% if picture %}

         {% if user.id == picture.creator.id %}

            <form action="{% url 'PetPhotos:del_pic' picture.id picture.category.slug %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="delete" pic_id="{{ picture.id }}" cat_id="{{ picture.category.id }}"
                        class="btn btn-outline-dark">Delete</button>

            </form>
         {% endif %}

        <br>

        <img src="{{ picture.picture.url }}" alt="img" class="view_pic img-fluid">

        <br>
        <hr>

        <!-- Like Section -->

        {% if user.is_authenticated %}
            <form action="{% url 'PetPhotos:like_post' picture.id %}" method="POST">
                {% csrf_token %}

                {% if liked %}
                    <button type="submit" name="post_id" value="{{ picture.id }}" class="btn btn-danger">Unlike</button>
                {% else %}
                    <button type="submit" name="post_id" value="{{ picture.id }}" class="btn btn-primary">Like</button>
                {% endif %}


            </form>

        {% endif %}

        <a>Number of Likes: {{ likes }}</a>

        <br>
        <hr>

        <!-- Comment Section -->

        <h2>Comments</h2>

        <br>

        <form method="post">
            {% if user.is_authenticated %}
                {% csrf_token %}
                {{ comment_form.as_p }}
                <input type="submit" value="Submit" class="btn btn-outline-success">
            {% endif %}
        </form>

        {% if comments %}
            <hr>
            {% for comment in comments %}
                <div class="comment">
                    <div class="comment_text">
                    <strong> {{ comment.creator }} - {{ comment.creation_date }} </strong>
                    <br>
                    {{ comment.comment }}
                    </div>
                    <div class="del_b">
                        {% if user.id == comment.creator.id %}

                            <form action="{% url 'PetPhotos:del_comment' picture.id comment.id %}" method="POST">
                                {% csrf_token %}

                                <button type="submit" name="delete" com_id="{{ comment.id }}" pic_id="{{ picture.id }}"
                                        class="btn btn-outline-dark">Delete</button>

                            </form>
                        {% endif %}
                    </div>
                    <hr>
                </div>
            {% endfor %}
        {% else %}
             No comments yet...
        {% endif %}
    {% else %}
        This picture doesn't exist.
    {% endif %}

{% endblock %}
