{% extends 'PetPhotos/base.html' %}

<html>
    {% block title_block %}
        {% if pet %}
            {{pet.name}}
        {% else %}
            Unknown Pet
        {% endif %}
    {% endblock %}

    {% block body_block %}

        {% if pet %}

            <h1> Pet Profile</h1>
            <p>Name: {{ pet.name }}</p>
            <p>Owner: {{ pet.owner }}</p>

            <img src="{{ pet.picture.url }}" alt="img">

            <div style="margin: auto;">
                <!--Add text here-->
            </div>

        {% else %}
            <h1>This pet doesn't exist.</h1>
        {% endif %}

    {% endblock %}
</html>